.mainLayout {
  position: relative;
  height: 100%;
  width: 80%;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.filterDiv {
  width: 40%;
  background-color: white;
  aspect-ratio: auto;
  padding: 1rem;
}

.amenityDiv {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.amenityLabel {
  font-weight: bold;
  font-size: 16;
}

.checkBox {
  width: 1rem;
  height: 1rem;
}

.modalDiv {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5);
}

.modalContent {
  display: flex;
  background-color: white;
  height: 12rem;
  width: 30rem;
  border: 0.15rem solid black;
  padding: 1rem;
  font-weight: bold;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.buttonOK {
  background-color: green;
  border: 0;
  padding: 1rem;
  height: 3rem;
  width: 6rem;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}

.buttonOK:hover {
  cursor: pointer;
  opacity: 0.8;
}

.loaderContainer {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 6px solid grey;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
